<%- include("partials/header");%>
<div class="box" id="heading">
	<h1>About Us</h1>
</div>
<div class="box">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac
		auctor felis, non vehicula metus. Praesent nec dolor condimentum,
		vulputate augue vitae, aliquet felis. Donec consectetur dui justo, non
		condimentum nisl sollicitudin non. Phasellus vel facilisis ex. Phasellus
		ut placerat velit. Nunc eget nibh quis orci efficitur porta. Quisque
		venenatis nisl eget est facilisis dignissim. Vivamus sapien magna,
		tincidunt ac sodales vitae, viverra eu est.
		<br /><br />
		Vivamus non ligula in erat ullamcorper rutrum. Morbi a semper mi. Morbi
		sed felis et justo faucibus ornare. Pellentesque molestie lobortis
		pharetra. Sed quis vestibulum nunc. Sed leo justo, auctor sit amet diam
		non, fringilla hendrerit libero. Pellentesque habitant morbi tristique
		senectus et netus et malesuada fames ac turpis egestas. Vestibulum nisl
		tortor, eleifend non ultrices dapibus, dictum in magna. Suspendisse et
		dolor vitae eros fringilla posuere. Vivamus mi velit, aliquet ut
		accumsan vitae, convallis sit amet nisi. Sed vitae lectus egestas,
		interdum nulla ut, bibendum lorem. Pellentesque aliquet ipsum felis, et
		sodales nisi tincidunt et. Mauris suscipit maximus magna ut pharetra.
		Integer faucibus massa vitae accumsan fringilla. Quisque vulputate
		pellentesque lacinia.
	</p>
</div>
<%- include("partials/footer");%>
