html {
	background-color: #fefbe9;
	background-image: -webkit-linear-gradient(65deg, #dc8449 50%, #fefbe9 50%);
	min-height: 1000px;
	font-family: "helvetica neue";
}

h1 {
	color: #fff;
	padding: 10px;
}

.box {
	max-width: 400px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
	background-color: #dc8449;
	text-align: center;
}
#heading-page {
	background-color: #45aee7;
	text-align: center;
}

.item {
	min-height: 70px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
	border-bottom: 0;
}

input:checked + p {
	text-decoration: line-through;
	text-decoration-color: #dc8449;
}

input[type="checkbox"] {
	margin: 20px;
}

p {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	font-weight: 200;
	color: #00204a;
}

form.item {
	text-align: center;
	margin-left: 20px;
}

button {
	background-color: #dc8449;
}
button.btn-page {
	background-color: #45aee7;
}
button,
button.btn-page {
	min-height: 50px;
	width: 50px;
	border-radius: 50%;
	border-color: transparent;
	color: #fff;
	font-size: 30px;
	padding-bottom: 0;
	border-width: 0;
	cursor: pointer;
}

input[type="text"] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 313px;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #dc8449;
}

::placeholder {
	color: grey;
	opacity: 1;
}

footer {
	color: #000 !important;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.box-nav {
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
	color: #0a5be6;
}
